<div class="modal-header">
    <button ng-click="$dismiss('X marks the spot!')" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="playerModalLabel">{{ item.metadata.result.title }}</h4>
</div>
<div class="modal-body">
    <div class="row-fluid">
    Title: {{ item.metadata.result.title }}<br />
    Release name: {{ item.name }}<br />
    Genre: <ul><li ng-repeat="genre in item.metadata.result.genres">{{ genre }}</li></ul><br />
    Rating: {{ item.metadata.result.rating }} ({{ item.metadata.result.votes }})<br />
    Plot: {{ item.metadata.result.plot }}<br />
    IMdb link: <a href="{{ item.metadata.result.href }}" target="_blank">{{ item.metadata.result.href }}</a><br />
    </div>

    <div class="row-fluid">
        <ul>
            <li ng-repeat="player in players"><a ng-click="handleItem(player, item)">Play on {{ player.name }}</a></li>
            <li><a ng-click="handleItem('download', item)">Download</a></li>
        </ul>
    </div>
</div>