<div class="modal-header">
    <button ng-click="$dismiss('X marks the spot!')" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="playerModalLabel">{{ item.metadata.result.title }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8">
            <h5>Metadata</h5>
            <ul class="list-unstyled">
            <li><strong>Title:</strong> {{ item.metadata.result.title }}</li>
            <li><strong>Release name:</strong> {{ item.name }}</li>
            <li><strong>Genre:</strong><ul class="list-unstyled" style="margin-bottom: 0;"><li ng-repeat="genre in item.metadata.result.genres">- {{ genre }}</li></ul></li>
            <li><strong>Rating:</strong> {{ item.metadata.result.rating }} ({{ item.metadata.result.votes }})</li>
            <li><strong>IMdb link:</strong> <a href="http://www.imdb.com/title/tt{{ item.metadata.id }}" target="_blank">{{ item.metadata.id }}</a></li>
            <li><strong>Plot:</strong> {{ item.metadata.result.plot }}</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h5>Streaming method</h5>
            <ul class="list-unstyled">
                <li ng-repeat="player in players"><p><button type="button" class="btn btn-default btn-block" ng-click="handleItem(player, item)">Play on {{ player.name }}</button></p></li>
                <li><p><button type="button" class="btn btn-default btn-block" ng-click="handleItem('download', item)">Download</button></p></li>
            </ul>
        </div>
    </div>
</div>